@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin 'daisyui';

html {
    height: 100%;
}

.safe-layout {
    padding-top: env(safe-area-inset-top);
}

.main-content {
    padding-bottom: calc(4rem + env(safe-area-inset-bottom));
}
